<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>License Plate Recognition</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Upload an Image of a Car</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <input type="submit" value="Upload">
        </form>
        {% if license_plate_text %}
            <h2>Detected License Plate Number: {{ license_plate_text }}</h2>
            <img src="{{ file_path }}" alt="Uploaded Image" class="uploaded-image">
            {% if plate_exists %}
                <p class="success-message">Number plate exists in the database.</p>
                <div class="stopwatch">
                    <div class="display" id="display">00:00:00</div>
                    <div class="buttons">
                        <button id="stopBtn">Stop</button>
                    </div>
                    <div class="total-time">
                        Total time: <span id="totalTime">0</span> seconds
                    </div>
                    <div class="price" id="priceDisplay"></div>
                    <button id="continueBtn" style="display:none;">Continue</button>
                </div>
                <script src="static/script.js"></script>
            {% else %}
                <p class="error-message">Number plate does not exist in the database.</p>
            {% endif %}
        {% endif %}
        <div id="thankYouMessage" style="display:none;">
            <h2>Thank you for choosing our service</h2>
            <p>The amount of <span id="deductedAmount"></span> Rs has been deducted from your wallet successfully.</p>
        </div>
    </div>
</body>
</html>
